body {
    background-color: grey;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    color: black;
    text-align: center;
  }
  h3 {
    color: green;
    text-align: center;
  }
  
  p {
    font-family: verdana, sans-serif;
    font-size: 20 px;
    color: black;
  }
  
  .nav {
    color: green;
    display: flex;
    align-items: row;
    flex-direction: row;
    justify-content: center;

  }

  .nav_item {
    align-items: row;
  }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
